@import "./../../../assets/styles/variables";

:host {
  background-color: $monitorSelectionListBackground;
  height: 100vh;
}

.monitor-types {
  &-link {
    font-size: 1.75rem;
    color: $monitorSelectionForeground;
  }

  &-item {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1.5rem;
    align-items: center;
    background-color: $monitorSelectionBackground;
    padding: 1.5rem;
    border-top: 1px solid black;
    cursor: pointer;
  }

  &-list {
    user-select: none;
    list-style: none;
  }
}
