@import "./../../../assets/styles/variables";

:host {
  background-color: $monitorSelectionListBackground;
  height: 100vh;
}

.monitor-types {
  &-link {
    font-size: 1.75rem;
    color: $monitorSelectionForeground;
  }

  &-item {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1.5rem;
    align-items: center;
    background-color: $monitorSelectionBackground;
    padding: 1.5rem;
    border-top: 1px solid black;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: darken($monitorSelectionBackground, 20%);
    }
  }

  &-list {
    user-select: none;
    list-style: none;
  }
}

.monitor {
  &-list {
    background-color: $monitorListBackGround;
  }

  &-item {
    color: $monitorForeground;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.2rem;

    &:hover {
      background-color: darken($monitorSelected, 20%);
    }
  }
}

.highlight {
  background-color: $monitorSelected;
}
