<ul class="monitor-types-list" *ngIf="monitors$ | async as monitorTypes">
  <li *ngFor="let monitorType of monitorTypes; let i = index">
    <div class="monitor-types-item" (click)="selectMonitorType(monitorType, i)">
      <a class="monitor-types-link">{{ monitorType.name }} </a>
      <fa-icon [icon]="collapseIcon" size="xl"></fa-icon>
    </div>
    <div class="monitor-selection" *ngIf="displayMonitorIndex === i">
      <ul>
        <li
          *ngFor="let monitor of monitorTypes[i].monitors"
          (click)="selectMonitor(monitor, monitorTypes[i])"
        >
          {{ monitor.name }}
        </li>
      </ul>
    </div>
  </li>
</ul>
