@import "./../../../assets/styles/variables";
@import "./../../../assets/styles/mixins";

:host {
  background-color: $monitorSelectionListBackground;
  height: 100vh;

  @include respond(tab-port) {
    height: max-content;
    overflow-x: auto;
  }
}

.monitor-types {
  &-link {
    font-size: 1.75rem;
    color: $monitorSelectionForeground;

    @include respond(tab-port) {
      font-size: 1.3rem;
    }

    @include respond(phone) {
      font-size: 1.1rem;
    }
  }

  &-item {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1.5rem;
    align-items: center;
    background-color: $monitorSelectionBackground;
    padding: 1.5rem;
    border-top: 1px solid black;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: darken($monitorSelectionBackground, 20%);
    }

    @include respond(tab-port) {
      gap: 10px;
      height: 100%;
    }
  }

  &-list {
    display: grid;
    grid-auto-flow: row;
    user-select: none;
    list-style: none;

    @include respond(tab-port) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }
}

.monitor {
  &-list {
    background-color: $monitorListBackGround;
    list-style: none;
  }

  &-item {
    color: $monitorForeground;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.2rem;

    &:hover {
      background-color: darken($monitorSelected, 20%);
    }

    @include respond(tab-port) {
      font-size: 1rem;
    }
  }
}

.highlight {
  background-color: $monitorSelected;
}
