<div *ngIf="selectedLegend$ | async as legend; else noSelectedMonitor">
  <h1>
    Legend
    <span *ngIf="selectedMonitor$ | async as monitor">
      for {{ monitor.name }}</span
    >
  </h1>
  <ul class="tag-list">
    <li *ngFor="let tag of legend.tags">
      <div class="tag-item-container">
        <div class="tag-color" [ngStyle]="{ backgroundColor: tag.color }"></div>
        <h3>{{ tag.label }}</h3>
      </div>
    </li>
  </ul>
</div>
<ng-template #noSelectedMonitor>
  <div>
    <h3>No monitor was selected</h3>
  </div>
</ng-template>
