@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

:host {
  padding: 1.5rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

.legend-title {
  color: $legendTitleColor;
  font-size: 2.5rem;

  @include respond(tab-port) {
    font-size: 2rem;
  }

  @include respond(phone) {
    font-size: 1.5rem;
  }
}

.tag {
  &-list {
    list-style: none;
  }

  &-item-container {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1.5rem;
  }

  &-color {
    width: 25px;
    height: 25px;

    @include respond(tab-port) {
      width: 20px;
      height: 20px;
    }
  }

  &-label {
    color: $legendLabelColor;
    font-size: 1.5rem;
  }

  @include respond(tab-port) {
    font-size: 1.3rem;
  }

  @include respond(phone) {
    font-size: 1rem;
  }
}
