$monitorSelectionBackground: #0f993d;
$monitorSelectionForeground: #fff;
$monitorSelectionListBackground: #ebf7ef;

$monitorForeground: #fff;
$monitorListBackGround: #6b6b6b;
$monitorSelected: #000;

$legendTitleColor: #000;
$legendLabelColor: #000;
