@import "../../assets/styles/mixins";

:host {
  display: grid;
  grid-template-columns: max-content 1fr;

  @include respond(tab-port) {
    grid-template-columns: none;
    grid-template-rows: max-content 1fr;
  }
}
